bind              = "0.0.0.0:4446"
max_procs         = -1
log_level         = "INFO"          # DEBUG > INFO > WARN > ERROR > FATAL > PANIC
cache_max_age     = 691200          # 8 days
tmp_dir           = "/tmp/imgry"    # inform image engine to use this directory for temp resources
profiler          = false           # enabled /debug/pprof profiling endpoints

[host_extra_query_params."example.com"]
jwt = ["my-jwt-token"]

[cluster]
local_node        = "http://127.0.0.1:4446"
nodes             = [ "http://127.0.0.1:4446" ]
# nodes             = [ "http://127.0.0.1:4446", "http://127.0.0.1:4447", "http://127.0.0.1:4448" ]

[limits]
max_requests      = 80        # throttler request throughput (/sec)
backlog_size      = 500       # throttler backlog capacity
backlog_timeout   = "30s"     # throttler backlog wait period
request_timeout   = "40s"     # global request timeout
max_fetchers      = 100       # num of parallel http fetchers
max_image_sizers  = 20        # num of parallel image sizers

[db]
redis_uri         = "0.0.0.0:6379"

[airbrake]
api_key           = ""

[chainstore]
path              = "/tmp/imgry/"
mem_cache_size    = 100
disk_cache_size   = 500
    [[chainstore.s3buckets]]
    s3_bucket         = "imgry-dev"
    s3_access_key     = ""
    s3_secret_key     = ""
    s3_region         = ""
    kms_key           = ""

[statsd]
enabled           = true
address           = "127.0.0.1:8125"
service_name      = "imgry"

[ssl]
cert              = "/etc/certs/server-cert.pem"
key               = "/etc/certs/server-key.pem"
