bind             = "0.0.0.0:4446"
max_procs        = -1
log_level        = "INFO"          # DEBUG > INFO > WARN > ERROR > FATAL > PANIC
cache_max_age    = 14400           # 4 hours
tmp_dir          = "/tmp/imgry"    # inform image engine to use this directory for temp resources
profiler         = false           # enabled /debug/pprof profiling endpoints

[cluster]
local_node       = "http://127.0.0.1:4446"
nodes            = [ "http://127.0.0.1:4446" ]
# nodes            = [ "http://127.0.0.1:4446", "http://127.0.0.1:4447", "http://127.0.0.1:4448" ]

[limits]
max_requests              = 1000      # request throughput (/sec)
backlog_size              = 5000      # backlog capacity
request_timeout           = "40s"     # global request timeout
backlog_timeout           = "1500ms"  # backlog wait period
max_fetchers              = 100       # num of parallel http fetchers
max_image_sizers          = 20        # num of parallel image sizers
throttler_limit           = 80			  # maximum number of concurrent image jobs.
throttler_backlog         = 500       # how many pending jobs to queue after reaching throttler_limit.
throttler_backlog_timeout = "30s"     # throttler backlog wait period.

[db]
redis_uri        = "0.0.0.0:6379"

[airbrake]
api_key          = ""

[chainstore]
path             = "/tmp/imgry/"
mem_cache_size   = 100
disk_cache_size  = 500
s3_bucket        = "imgry-dev"
s3_access_key    = ""
s3_secret_key    = ""

[statsd]
enabled          = true
address          = "127.0.0.1:8125"
service_name     = "imgry"
